.productos-contenendor {
  text-align: center;
  border-left: 1px solid var(---border-color);
  padding: 0 10px;
}

.productos-titulo {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}

.productos {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.producto {
  background-color: var(--color-card);
  border-radius: 10px;
  padding: 10px;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2px;
  padding-top: 20px;
}

.producto-info .name-product {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--font-title-color);
}

.producto-info .description {
  font-size: 1em;
  color: var(--font-paragraph-color-2);
}

.producto-info .price {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--primary);
  margin-top: 10px;
}

.producto-info button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;
  transition: .3s;
  opacity: 0; 
  background-color: var(--primary);
  cursor: pointer;
}

.producto:hover button {
  opacity: 1;
}