
.footer {
  border-top: 1px solid #bbbbbb;
    padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h2 {
color: var(--font-title-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
    max-width: 400px;
  font-size: 1em;
  color: var(--font-paragraph-color-2);
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: var(--primary);
}

.social-links a:hover {
  color: var(--color-600);
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section li a {
  text-decoration: none;
  color: var(--primary);
}

.footer-section li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.9em;
  color: var(--font-paragraph-color-2);
}

@media (max-width: 768px) {
    .footer-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-section {
        flex: 1 1 100%;
    }
    }