
.footer {
  border-top: 2px solid var(--border-color);
    padding: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin-right: 20px;
}
 /* tamaño de la letra no relativo */
.footer-section h2 {
color: var(--grey-dark);
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p {
    max-width: 400px;
  font-size: 14px;
  color: var(--font-paragraph-color-2);
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: var(--primary);
}

.social-links a:hover {
  color: var(--color-600);
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section li a {
  text-decoration: none;
  color: var(--primary);
}

.footer-section li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 2px solid var(--border-color);
  text-align: center;

}

.footer-bottom p {
  font-size: 14px;
  color: var(--font-paragraph-color-2);
}

@media (max-width: 920px) {
    .footer-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-section {
        flex: 1 1 100%;
    }
    }