
  .banner-slider-conatiner {
    display: grid;
  }
  .banner-container {
    width: 100%;
    display: grid;
  }
  
  .banner-wrapper .banner-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-wrapper .banner-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
    @media screen and (max-width: 768px) {
      .desktop-image {
        display: none; 
      }
    }
      @media screen and (min-width: 769px) {
      .mobile-image {
        display: none; 
      }
    }
    