/* botones de deslizamiento carrusel y slider */
.btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.btn:hover {
    border: 2px solid #fff;
}


.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}