/* botones de deslizamiento carrusel y slider */
.swiper-navBtn {
    color: #ffffff;
    height: 40px;
    width: 40px;
    background: var(--primary);
    border-radius: 50%;
  }
  
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 18px;
  }
  
  .swiper-pagination-bullet {
    background-color: var(--primary);
  }