.main-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 100px 20px;
}

.about-us {
    text-align: justify;
}

.about-us h1 {
    font-size: 2.8em;
    line-height: 1.3em;
    margin-bottom: 20px;
    color: var(--grey-dark);
}

.about-us p {
    margin-bottom: 15px;
    line-height: 1.6em;
    color: var(--font-paragraph-color-2);
}

.social-links-about {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-links-about a {
    font-size: 1.6em;
    color: var(--primary);
    text-decoration: none;
}

.social-links-about a:hover {
    color: var(--primary-dark);
}

.social-links-about a i {
    transition: transform 0.3s ease-in-out;
}

.social-links-about a:hover i {
    transform: scale(1.2);
}

.about-us img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.about-us .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-us .image-container img {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Responsive */

@media (max-width: 920px) {
    .main-info {
        padding: 50px 20px 50px 20px;
    }

    .about-us h1 {
        font-size: 2.5em;
    }

    .about-us p {
        font-size: 1.1em;
    }

    .social-links-about {
        margin-top: 10px;
    }

    .about-us img {
        width: 100%;
    }

    .about-us .image-container {
        flex-direction: column;
        gap: 20px;
    }

    .about-us .image-container img {
        width: 100%;
    }
}

/* contact */
.contact-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--grey-dark);
    text-align: center;
    margin-bottom: 50px;
}

h2, h3 {
    color: var(--grey-dark);
}

p {
    color: var(--font-paragraph-color-2);
    margin-bottom: 10px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.contact-info-item {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.contact-info-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info-item.full-width {
    grid-column: span 2;
}

.contact-info-item.horario {
    grid-column: span 3; 
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
}

.contact-info-social {
    grid-column: span 3; 
}

.contact-info-map {
    grid-column: span 3; 
}

/* Responsive */

