 /* box de categorias grid*/
 .categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1200px;
  }

  .categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid #e0e0e0;
  }

  .text-categoria {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
  }

  .categoria:hover {
    background-color: #e0e0e0;
  }

  @media (max-width: 900px) {
    .categorias {
      grid-template-columns: repeat(2, 1fr);
    }

    .categoria {
      height: 80px;
    }

    .text-categoria {
      font-size: 1.2rem;
    }
  }


   /* Bento grid layout */
   .bento {
    max-width: 1400px;
    min-height: 450px;
    display: grid;
    gap: 1ch;
    padding: 1ch;
    margin: 0 auto;
    padding: 0 30px;
  }

  .bento__container {
    display: grid;
    gap: 1ch;
    flex: 2 0 320px;
    width: 100%;
  }

  .bento__container[variant-1] {
    --bg: #837AED;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive column layout */
  }

  .bento__container[variant-2] {
    --bg: #F272AC;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive column layout */
  }

  .bento__container[variant-3] {
    --bg: #72F286;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive column layout */
  }

  .bento__item {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border-radius: 1rem;
  }

  .bento__item:nth-child(1),
  .bento__item:nth-child(2),
  .bento__item:nth-child(3) {
    grid-column: span 1;
  }

  .bento__item:nth-child(4),
  .bento__item:nth-child(5) {
    grid-column: span 1;
  }

  @media screen and (max-width: 700px) {
    .bento {
      padding: 0 10px;
    }
    
    .bento__container[variant-1],
    .bento__container[variant-2],
    .bento__container[variant-3] {
      grid-template-columns: 1fr;
    }

    .bento__item:nth-child(1),
    .bento__item:nth-child(2),
    .bento__item:nth-child(3),
    .bento__item:nth-child(4),
    .bento__item:nth-child(5) {
      height: 200px;
    }
  }
