/* estilos de la barra de navegacion */
/* navbar: logo, boscador y menu*/

.head {
  background-color: var(--bg);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
   border-bottom: 1px solid var(--border-color);
}

.navbar {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-template-areas: "logo search links";
  gap: 0 10px;
  align-items: center;


}
/* centrar el logo */

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  color: var(--grey-dark-3);
  text-decoration: none;

}

.search {
  grid-area: search;
}

.search input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  color: var(--font-paragraph-color-2);
  background-color: var(--bg);
  transition: .3s;
  border: 1px solid var(--border-color);
}

.links {
  grid-area: links;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.links ul li {
  margin: 0 10px;
}

.links ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--grey-dark-3);
}

.links ul li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: .3s;
}

.links ul li a:hover::before {
  width: 100%;
}

#btn-tema {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%; padding: 3px;
}

#btn-tema:hover {
 
  background: var(--transparent-2);
}

.handle-theme-container {
  position: relative;
}

.handle-theme-default-btn {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid #8f8f8f4b;
  transition: background-color .3s;
}

.handle-theme-colors-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: -30%;
  padding: 5px 10px;
  background: var(--transparent);
  transition: .2s;
  border-radius: 5px;
}

.handle-theme-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--currentColor);
  cursor: pointer;
  transition: .3s;
}

.handle-theme-btn:hover {
  transform: scale(1.1)
}


.handle-theme-container:hover .handle-theme-colors-container {
  opacity: 1;
  visibility: visible;
  right: -50%
}

/* estilo responsive des de 1020px que desde ahi se adapte a pantallas mas pequeñas como celulares
estilo para el menu hamburguesa*/

@media (max-width: 920px) {
  .navbar {
    overflow: hidden;
  }
  
}