/* estilos de la barra de navegacion */
/* navbar: logo, boscador y menu*/

.head {
  background-color: var(--bg);
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--border-color);
}

.navbar {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-template-areas: "logo search links";
  gap: 10px;
  align-items: center;
  padding: 0 10px;
}

.navbar div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 90px;
}

.logo {
  grid-area: logo;
  color: var(--font-title-color);
  align-items: center;
}

.logo a {
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.search {
  grid-area: search;
}

.search input {
  max-width: 300px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  font-size: 16px;
  color: var(--font-paragraph-color-2);
  background-color: var(--bg);
  transition: .3s;
}

.links {
  grid-area: links;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.links ul li {
  margin: 0 10px;
}

.links ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--font-title-color);
}

.links ul li a:hover {
  color: var(--primary);
  text-decoration: underline;
}

#btn-tema {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.handle-theme-container {
  position: relative;
}

.handle-theme-default-btn {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid #8f8f8f4b;
  transition: background-color .3s;
}

.handle-theme-colors-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: -30%;
  padding: 5px 10px;

  background: #ffffffeb;
  transition: .2s;
}

.handle-theme-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--currentColor);
  cursor: pointer;
  transition: .3s;
}

.handle-theme-btn:hover {
  transform: scale(1.1)
}


.handle-theme-container:hover .handle-theme-colors-container {
  opacity: 1;
  visibility: visible;
  right: -50%
}