.productos-contenendor {
  border-left: 2px solid var(--border-color);
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.producto {
  height: max-content;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.producto img {
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  background: #fff;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2px;
  padding-top: 10px;
}

.name-product,
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-info .name-product {
  font-size: 1.3em;
  font-weight: 400;
  /* color primary agregando opacidad */
  color: var(--grey-dark);
  -webkit-line-clamp: 1;
}

.producto-info .description {
  font-size: 1em;
  color: var(--font-paragraph-color-2);
  /*maximode 2 lineas*/
  line-height: 1.5em;
  max-height: 3em;
  margin-top: 10px;
}

.producto-info .price {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--primary);
  margin-top: 10px;
}

.descuentoProducto {
  margin-left: 10px;
  font-size: 0.7em;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  font-size: 0.8em;
}

.producto button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;
  transition: .3s;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.producto:hover button {
  background-color: #ffffff00;
  color: var(--primary);
}